{{- if .Values.ingress.enabled -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "kubernetes-templating.fullname" . }}-ingress
  namespace: homework
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- with .Values.ingress.className }}
  ingressClassName: {{ . }}
  {{- end }}
  rules:
  {{- range .Values.ingress.hosts }}
  - host: {{ .host | quote }}
    http:
      paths:
      {{- range .paths }}
      - path: {{ .path }}
        {{- with .pathType }}
        pathType: {{ . }}
        {{- end }}
        backend:
          service:
            name: {{ include "kubernetes-templating.fullname" $ }}-service
            port:
              number: {{ $.Values.service.port }}
          {{- end }}
    {{- end }}
{{- end }}