apiVersion: apps/v1
kind: Deployment
metadata:
  name: kube-controller-app
  namespace: homework
spec:
  replicas: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  selector:
    matchLabels:
      app: kube-controller-app
  template:
    metadata:
      labels:
        app: kube-controller-app
    spec:
      initContainers:
      - name: init-container
        image: busybox:1.28
        command:
        - wget
        - "-O"
        - "/init/index.html"
        - https://ya.ru
        volumeMounts:
        - name: workdir
          mountPath: "/init"
      containers:
      - name: kube-controller-app
        image: nginx:1.29.2
        lifecycle:
          preStop:
            exec:
              command: ["rm", "/homework/index.html"]
        readinessProbe:
          exec:
            command:
            - cat
            - /homework/index.html
          initialDelaySeconds: 30
          periodSeconds: 10
          failureThreshold: 3
        ports:
        - containerPort: 8000
        volumeMounts:
        - name: workdir
          mountPath: "/homework"
        - name: nginx-config-volume
          mountPath: /etc/nginx/conf.d/default.conf
          subPath: default.conf
      volumes:
      - name: workdir
        emptyDir: {}
      - name: nginx-config-volume
        configMap:
          name: nginx-conf-configmap
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: homework
                operator: In
                values:
                - "true"
